.p-navbar {
	letter-spacing: 0.1rem;
}

li::marker {
	color: rgb(62, 193, 297);
	font-size: 1.5rem;
}

nav div p {
	font-size: 0.9rem;
	padding-top: 10px;
}

#main-div {
	position: relative;
	width: 100%;
	height: 70vh;
	background-image: url('./assets/react.svg');
	background-size: 400px;
	background-repeat: no-repeat;
	background-position: right -50px top 50px;

	z-index: 2;
}

#main-div h1,
#main-div li {
	position: relative;
	z-index: 10;
}

#main-div::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(128, 128, 128, 0.9);
	z-index: 1;
}

@media (min-width: 480px) {
	nav div p {
		margin-bottom: 7px;
	}

	#main-div {
		height: 60vh;
	}
}

@media (min-width: 768px) {
	#main-div {
		background-position: right -50px top 50px;
	}

	#main-div::before {
		width: 0%;
		height: 0%;
	}

	nav div p {
		font-size: 1rem;
		padding-top: 10px;
	}
}

@media (min-width: 992px) {
	#main-div {
		height: 70vh; /* Adjust height for larger screens */
		background-position: right -50px top 50px;
	}
}

@media (min-width: 1200px) {
}
